---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Portfolio from "../components/ts/Portfolio";
const portfolio = await getCollection("portfolio");
const training = await getCollection("trainingAndQualifications");
import { Icon } from "astro-icon";
import { getStartAndEndYear } from "../lib/utils";
---

<Layout>
  <!--TRAINING AND QUALIFICATIONS -->
  <div class="mx-4 flex flex-col text-white">
    <div class="flex-start flex justify-center">
      <div
        class="w-full font-montserrat text-3xl font-bold text-white lg:w-1/2"
      >
        TRAINING AND QUALIFICATIONS
        <div class="my-6 mt-4 h-px border-0 bg-gray-500"></div>
      </div>
    </div>
    <div>
      <div class="mb-10 flex justify-center">
        <div class="w-1/2">
          {
            training.map((item) => (
              <>
                <a
                  href={item.data.websiteLink}
                  target="_blank"
                  rel="noreferrer"
                  class="text-xl font-bold text-yellow-400 hover:text-blue-400"
                >
                  {item.data.title}
                </a>
                <div>
                  {item.data.institution}
                  {getStartAndEndYear(item.data.startDate, item.data.endDate)}
                  {item.data.stillStudying ? " (Still studying)" : ""}
                </div>
              </>
            ))
          }
        </div>
      </div>
    </div>

    <!--WORK EXPERIENCE -->
    <div class="flex-start flex justify-center">
      <div
        class="w-full font-montserrat text-3xl font-bold text-white lg:w-1/2"
      >
        WORK EXPERIENCE
        <div class="my-6 mt-4 h-px bg-gray-500"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="mt-2 flex">
        <div>
          {
            portfolio.map((item) => (
              <>
                <div class="font-montserrat flex justify-center text-white ">
                  <div class="mt-2 w-full rounded-xl lg:w-1/2 ">
                    <Portfolio
                      title={item.data.jobTitle}
                      companyStackTags={item.data.codeStackTags}
                      company={item.data.company}
                      date={item.data.date}
                      body={item.body}
                    />
                    <div class="mt-4 flex flex-row place-items-center space-x-8">
                      <a
                        href={item.data.website}
                        target="_blank"
                        rel="noreferrer"
                        class="my-2 text-base font-bold text-yellow-400 lg:flex lg:flex-row lg:space-x-8"
                      >
                        <div class="flex flex-row place-items-center hover:text-blue-400">
                          <Icon
                            pack="mdi"
                            name="globe-arrow-right"
                            class="w-6 "
                          />
                          <span class="ml-2">Website </span>
                        </div>
                      </a>
                      {item.data.projectDemo && (
                        <a
                          href={item.data.projectDemo}
                          target="_blank"
                          rel="noreferrer"
                          class="my-2 text-base font-bold text-yellow-400 lg:flex lg:flex-row"
                        >
                          <Icon
                            pack="mdi"
                            name="globe-arrow-right"
                            class="w-6 "
                          />
                          <span class="ml-2">Project</span>
                        </a>
                      )}
                    </div>
                  </div>
                </div>
              </>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
